.kviz-v-1__title {
  margin: 0 0 60px;
  text-align: center;
  text-wrap: balance;
}
@media (max-width: 1600px) {
  .kviz-v-1__title {
    margin: 0 0 54px;
  }
}
@media (max-width: 1300px) {
  .kviz-v-1__title {
    margin: 0 0 48px;
  }
}
@media (max-width: 992px) {
  .kviz-v-1__title {
    margin: 0 0 44px;
  }
}
@media (max-width: 576px) {
  .kviz-v-1__title {
    margin: 0 0 34px;
    text-align: left;
  }
}