.komanda_v1__department,
.komanda_v_1__container {
  position: relative;
}
.komanda_v1__department:not(:last-child),
.komanda_v_1__container:not(:last-child) {
  margin-bottom: 90px;
}
@media (max-width: 1600px) {
  .komanda_v1__department:not(:last-child),
  .komanda_v_1__container:not(:last-child) {
    margin-bottom: 84px;
  }
}
@media (max-width: 1300px) {
  .komanda_v1__department:not(:last-child),
  .komanda_v_1__container:not(:last-child) {
    margin-bottom: 68px;
  }
}
@media (max-width: 991px) {
  .komanda_v1__department:not(:last-child),
  .komanda_v_1__container:not(:last-child) {
    margin-bottom: 60px;
  }
}
@media (max-width: 767px) {
  .komanda_v1__department:not(:last-child),
  .komanda_v_1__container:not(:last-child) {
    margin-bottom: 50px;
  }
}
.komanda_v_1__title {
  width: 70%;
  text-wrap: balance;
}
@media (max-width: 991px) {
  .komanda_v_1__title {
    width: 60%;
  }
}
@media (max-width: 767px) {
  .komanda_v_1__title {
    width: 100%;
  }
}
.komanda_v1__department__title {
  margin-bottom: 60px;
  font-weight: 400;
  font-size: 40px;
  line-height: 110%;
  color: #0e0e0e;
}
@media (max-width: 1600px) {
  .komanda_v1__department__title {
    margin-bottom: 54px;
    font-size: 32px;
  }
}
@media (max-width: 1300px) {
  .komanda_v1__department__title {
    margin-bottom: 48px;
    font-size: 24px;
  }
}
@media (max-width: 991px) {
  .komanda_v1__department__title {
    margin-bottom: 44px;
    font-size: 22px;
  }
}
@media (max-width: 767px) {
  .komanda_v1__department__title {
    margin-bottom: 34px;
  }
}
.komanda_v_1__subtitle {
  width: 69%;
  margin-bottom: 60px;
  font-weight: 500;
  font-size: 30px;
  line-height: 130%;
  color: var(--color-chernyy);
}
@media (max-width: 1600px) {
  .komanda_v_1__subtitle {
    margin-bottom: 54px;
    font-size: 24px;
  }
}
@media (max-width: 1300px) {
  .komanda_v_1__subtitle {
    margin-bottom: 48px;
    font-size: 20px;
  }
}
@media (max-width: 991px) {
  .komanda_v_1__subtitle {
    margin-bottom: 44px;
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .komanda_v_1__subtitle {
    margin-bottom: 34px;
    width: 100%;
    font-size: 18px;
  }
}
.komanda_v_1__slider {
  position: relative;
}

.komanda_v_1__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 21px;
}

@media (max-width: 1300px) {
  .komanda_v_1__wrapper {
    gap: 42px 14px;
  }
}

.komanda_v_1__item {
  flex: 0 0 calc(100% / 4 - 21px / 4 * 3);
}

@media (max-width: 1300px) {
  .komanda_v_1__item {
    flex: 0 0 calc(100% / 4 - 14px / 4 * 3);
  }
}

@media (max-width: 991px) {
  .komanda_v_1__item {
    flex: 0 0 calc(100% / 3 - 14px / 3 * 2);
  }
}

@media (max-width: 576px) {
  .komanda_v_1__item {
    flex: 0 0 100%;
  }
}

.komanda_v_1__item_img {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 42px;
  border-radius: 3px;
}
@media (max-width: 1600px) {
  .komanda_v_1__item_img {
    margin-bottom: 36px;
  }
}
@media (max-width: 1300px) {
  .komanda_v_1__item_img {
    margin-bottom: 29px;
    border-radius: 2px;
  }
}
@media (max-width: 767px) {
  .komanda_v_1__item_img {
    margin-bottom: 24px;
  }
}
.komanda_v_1__name {
  margin-bottom: 9px;
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: #0e0e0e;
}
@media (max-width: 1600px) {
  .komanda_v_1__name {
    margin-bottom: 8px;
    font-size: 17px;
  }
}
@media (max-width: 1300px) {
  .komanda_v_1__name {
    margin-bottom: 8px;
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .komanda_v_1__name {
    font-size: 17px;
  }
}
.komanda_v_1__role {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #0e0e0e;
}
@media (max-width: 1600px) {
  .komanda_v_1__role {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .komanda_v_1__contacts {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 0 21px;
    margin-top: 24px;
  }
}
@media (max-width: 767px) {
  .komanda_v_1__email,
  .komanda_v_1__phone {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    max-width: 50%;
  }
}
.komanda_v_1__email_name {
  margin: 30px 0 6px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: var(--color-seryy-tekst, #7d7d7d);
}
@media (max-width: 1600px) {
  .komanda_v_1__email_name {
    margin: 24px 0 4px;
    font-size: 14px;
  }
}
@media (max-width: 1300px) {
  .komanda_v_1__email_name {
    margin: 20px 0 3px;
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .komanda_v_1__email_name {
    margin: 0 0 4px;
  }
}
.komanda_v_1__phone_name {
  margin: 20px 0 6px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: var(--color-seryy-tekst, #7d7d7d);
}
@media (max-width: 1600px) {
  .komanda_v_1__phone_name {
    margin: 16px 0 4px;
    font-size: 14px;
  }
}
@media (max-width: 1300px) {
  .komanda_v_1__phone_name {
    margin: 10px 0 3px;
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .komanda_v_1__phone_name {
    margin: 0 0 4px;
  }
}
.komanda_v_1__email_value,
.komanda_v_1__phone_value {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #0e0e0e;
}
@media (max-width: 1600px) {
  .komanda_v_1__email_value,
  .komanda_v_1__phone_value {
    font-size: 14px;
  }
}
.komanda_v_1__button {
  position: absolute;
  top: 10px;
  right: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 0 7px;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-right: 45px;
  transition: color 0.2s ease-out, background-color 0.2s ease-out;
}
@media (hover: hover) {
  .komanda_v_1__button:hover {
    color: var(--color-belyy, #fcfcfc);
    background-color: var(--color-siniy, #355ddb);
  }
  .komanda_v_1__button:hover::before {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    opacity: 0;
  }
  .komanda_v_1__button:hover::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    opacity: 1;
  }
}
.komanda_v_1__button::after,
.komanda_v_1__button::before {
  content: '';
  position: absolute;
  top: 15px;
  right: 24px;
  display: inline-block;
  width: 14px;
  height: 13px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: opacity 0.2s ease-out, -webkit-transform 0.2s ease-out;
  transition: opacity 0.2s ease-out, transform 0.2s ease-out;
  transition: opacity 0.2s ease-out, transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
}
.komanda_v_1__button::before {
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='14' viewBox='0 0 13 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.19727 11.0972L11.0503 7.33344L7.19727 3.56971' stroke='%23355DDB' stroke-width='1.33335' stroke-linecap='round' stroke-linejoin='round' /%3E%3Cpath d='M1.63818 6.66682C1.26999 6.66682 0.971508 6.9653 0.971508 7.3335C0.971508 7.70169 1.26999 8.00017 1.63818 8.00017L1.63818 6.66682ZM10.4452 6.66682L1.63818 6.66682L1.63818 8.00017L10.4452 8.00017L10.4452 6.66682Z' fill='%23355DDB' /%3E%3C/svg%3E");
}
.komanda_v_1__button::after {
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='14' viewBox='0 0 13 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.19727 11.0972L11.0503 7.33344L7.19727 3.56971' stroke='%23fff' stroke-width='1.33335' stroke-linecap='round' stroke-linejoin='round' /%3E%3Cpath d='M1.63818 6.66682C1.26999 6.66682 0.971508 6.9653 0.971508 7.3335C0.971508 7.70169 1.26999 8.00017 1.63818 8.00017L1.63818 6.66682ZM10.4452 6.66682L1.63818 6.66682L1.63818 8.00017L10.4452 8.00017L10.4452 6.66682Z' fill='%23fff' /%3E%3C/svg%3E");
  opacity: 0;
}
@media (max-width: 767px) {
  .komanda_v_1__button {
    position: relative;
    top: unset;
    right: unset;
    margin: 40px auto 0;
  }
}
