.contacts-v-1__description {
  margin: 0 0 60px;
  font-weight: 400;
  font-size: 28px;
  line-height: 130%;
  color: #0e0e0e;
}
@media (max-width: 1600px) {
  .contacts-v-1__description {
    margin: 0 0 54px;
    font-size: 24px;
  }
}
@media (max-width: 1300px) {
  .contacts-v-1__description {
    margin: 0 0 48px;
    font-size: 20px;
  }
}
@media (max-width: 992px) {
  .contacts-v-1__description {
    margin: 0 0 44px;
    font-size: 18px;
  }
}
@media (max-width: 576px) {
  .contacts-v-1__description {
    margin: 0 0 34px;
    font-size: 16px;
  }
}
.contacts-v-1__branches {
  display: block;
}
.contacts-v-1__branch {
  display: flex;
  align-items: flex-start;
  gap: 60px;
  padding: 80px 0;
  border-top: 1px solid #c9c9c9;
  border-bottom: 1px solid #c9c9c9;
}
@media (max-width: 1600px) {
  .contacts-v-1__branch {
    padding: 68px 0;
  }
}
@media (max-width: 1300px) {
  .contacts-v-1__branch {
    gap: 31px;
    padding: 55px 0;
  }
}
@media (max-width: 992px) {
  .contacts-v-1__branch {
    gap: 60px;
    padding: 50px 0;
  }
}
@media (max-width: 768px) {
  .contacts-v-1__branch {
    flex-wrap: wrap;
  }
}
@media (max-width: 576px) {
  .contacts-v-1__branch {
    gap: 20px;
    padding: 44px 0;
  }
}
.contacts-v-1__branch:last-child {
  padding-bottom: 0;
  border-bottom: none;
}
.contacts-v-1__branch-wrapper {
  flex: 1 1 auto;
}
.contacts-v-1__branch-title {
  margin: 0 0 40px;
  font-weight: 500;
  font-size: 40px;
  line-height: 110%;
  color: #242424;
}
@media (max-width: 1600px) {
  .contacts-v-1__branch-title {
    margin: 0 0 34px;
    font-size: 34px;
  }
}
@media (max-width: 1300px) {
  .contacts-v-1__branch-title {
    margin: 0 0 27px;
    font-size: 27px;
  }
}
@media (max-width: 992px) {
  .contacts-v-1__branch-title {
    margin: 0 0 20px;
    font-size: 18px;
  }
}
.contacts-v-1__branch-content {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 44px;
}
@media (max-width: 1600px) {
  .contacts-v-1__branch-content {
    gap: 23px 38px;
  }
}
@media (max-width: 1300px) {
  .contacts-v-1__branch-content {
    gap: 19px 26px;
  }
}
@media (max-width: 992px) {
  .contacts-v-1__branch-content {
    gap: 20px;
  }
}
.contacts-v-1__branch-content-block {
  flex: 0 0 calc(50% - 22px);
}
@media (max-width: 1600px) {
  .contacts-v-1__branch-content-block {
    flex: 0 0 calc(50% - 19px);
  }
}
@media (max-width: 1300px) {
  .contacts-v-1__branch-content-block {
    flex: 0 0 calc(50% - 13px);
  }
}
@media (max-width: 992px) {
  .contacts-v-1__branch-content-block {
    flex: 1 1 100%;
  }
}
.contacts-v-1__branch-content-block-title {
  margin: 0 0 16px;
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  color: #1eb6e8;
}
@media (max-width: 1600px) {
  .contacts-v-1__branch-content-block-title {
    margin: 0 0 14px;
    font-size: 20px;
  }
}
@media (max-width: 1300px) {
  .contacts-v-1__branch-content-block-title {
    margin: 0 0 11px;
    font-size: 18px;
  }
}
@media (max-width: 992px) {
  .contacts-v-1__branch-content-block-title {
    margin: 0 0 6px;
    font-size: 16px;
  }
}
.contacts-v-1__branch-content-block-text {
  font-size: 16px;
  line-height: 160%;
  color: #242424;
}
@media (max-width: 1300px) {
  .contacts-v-1__branch-content-block-text {
    font-size: 14px;
  }
}
.contacts-v-1__branch-content-block-text a {
  color: #242424;
  text-decoration: none;
}
.contacts-v-1__branch-social {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
@media (max-width: 1600px) {
  .contacts-v-1__branch-social {
    gap: 14px;
  }
}
@media (max-width: 1300px) {
  .contacts-v-1__branch-social {
    gap: 17px;
  }
}
.contacts-v-1__branch-social-link {
  flex: 0 0 auto;
  display: block;
  width: 27px;
  aspect-ratio: 1/1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 1600px) {
  .contacts-v-1__branch-social-link {
    width: 24px;
  }
}
@media (max-width: 1300px) {
  .contacts-v-1__branch-social-link {
    width: 19px;
  }
}
@media (max-width: 992px) {
  .contacts-v-1__branch-social-link {
    width: 24px;
  }
}
.contacts-v-1__branch-social-link_whatsapp {
  background-image: url(../images/whatsapp.svg);
}
.contacts-v-1__branch-social-link_inst {
  background-image: url(../images/instagram.svg);
}
.contacts-v-1__branch-map {
  flex: 0 0 auto;
  display: block;
  width: 676px;
  aspect-ratio: 676/477;
}
@media (max-width: 1600px) {
  .contacts-v-1__branch-map {
    width: 576px;
  }
}
@media (max-width: 1300px) {
  .contacts-v-1__branch-map {
    width: 452px;
  }
}
@media (max-width: 992px) {
  .contacts-v-1__branch-map {
    width: 346px;
  }
}
@media (max-width: 768px) {
  .contacts-v-1__branch-map {
    width: 100%;
    height: 254px;
    aspect-ratio: none;
  }
}
.contacts-v-1__branch-map iframe {
  width: 100%;
  height: 100%;
}