.partnery-v-2 {
  position: relative;

  @include tablet {
    padding-bottom: 88px;
  }

  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px 64px;
    margin: 0 0 30px;

    @include desktop {
      margin: 0 0 26px;
    }

    @include desktopsm {
      margin: 0 0 24px;
    }

    @include laptop {
      margin: 0 0 22px;
    }

    @include mobile {
      margin: 0 0 20px;
    }

    & .btn_green {
      flex: 0 0 auto;
      margin: 0;
      color: var(--color-siniy, #355ddb);
      border-color: var(--color-siniy, #355ddb);
      background-color: var(--color-belyy, #fcfcfc);
      transform: translateY(9px);

      @include desktopsm {
        transform: translateY(4px);
      }

      @include laptop {
      }
      transform: translateY(0px);

      @include tablet {
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 260px;
        transform: translateX(-50%);
      }

      &:hover {
        color: var(--color-belyy, #fcfcfc);
        background-color: var(--color-siniy, #355ddb);
      }
    }
  }

  &__title {
    max-width: 1120px;
    margin-bottom: 0;

    @include desktop {
      max-width: 860px;
    }

    @include desktopsm {
      max-width: 676px;
    }

    @include laptop {
      max-width: 478px;
    }

    @include mobile {
      max-width: 1120px;
    }

    &.h1:not(:last-child) {
      margin-bottom: 0;
    }
  }

  &__description {
    max-width: 975px;
    margin: 0 0 60px;
    font-weight: 500;
    font-size: 30px;
    line-height: 130%;
    color: #0e0e0e;

    @include desktop {
      max-width: 750px;
      margin: 0 0 54px;
      font-size: 24px;
    }

    @include desktopsm {
      max-width: 621px;
      margin: 0 0 48px;
      font-size: 20px;
    }

    @include laptop {
      max-width: 518px;
      margin: 0 0 44px;
    }

    @include mobile {
      max-width: none;
      margin: 0 0 34px;
      font-size: 18px;
    }

    & b {
      font-weight: 700;
    }
  }

  &__slider {
    position: relative;
    padding: 0 62px;

    @include desktop {
      padding: 0 58px;
    }

    @include desktopsm {
      padding: 0 46px;
    }

    @include laptop {
      padding: 0 40px;
    }

    @include tablet {
      padding: 0 62px;
    }

    & .swiper {
      &-slide {
        height: auto;
      }
    }

    &-controls {
      &-prev,
      &-next {
        position: absolute;
        top: 50%;
        display: block;
        width: 40px;
        aspect-ratio: 1 / 1;
        background: url(../images/prev-button.svg) center / cover no-repeat;

        @include desktop {
          width: 34px;
        }

        @include desktopsm {
          width: 28px;
        }

        &.swiper-button-disabled {
          opacity: 0.5;
        }
      }

      &-prev {
        left: 0;
        transform: translate3d(0, -50%, 0);
      }

      &-next {
        right: 0;
        transform: translate3d(0, -50%, 0) rotate(180deg);
      }
    }
  }

  &__partner {
    height: 100%;
    border: 1px solid #dddddd;
    border-right: none;

    @include mobile {
      border-radius: 3px;
    }

    &:last-child {
      border-right: 1px solid #dddddd;
    }

    &-logo {
      margin: 0;

      &-image {
        display: block;
        max-width: 100%;
        height: auto;
      }
    }

    &-name {
      padding: 10px 21px 29px;
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      color: #000;

      @include desktop {
        padding: 8px 18px 20px;
        font-size: 14px;
      }

      @include laptop {
        padding: 5px 13px 20px;
      }

      @include mobile {
        padding: 8px 18px 20px;
      }
    }
  }
}
