@import './b-mixins.scss';

.oshibka404-v-1 {
  &__title {
    margin: 0 0 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 180px;
    line-height: 100%;
    text-align: center;
    color: #00141a;

    @include desktopsm {
      margin: 0 0 12px;
      font-size: 160px;
    }

    @include mobile {
      margin: 0 0 9px;
      font-size: 120px;
    }
  }

  &__description {
    display: block;
    width: fit-content;
    margin: 0 auto 10px;
    padding: 2px 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 36px;
    text-align: center;
    color: #fff;

    @include desktopsm {
      margin: 0 auto 11px;
      font-size: 32px;
    }

    @include mobile {
      margin: 0 auto 24px;
      font-size: 22px;
    }

    &-text {
      display: inline;
      padding: 2px 18px;
      white-space: pre-wrap;
      background-color: #355ddb;

      @include laptop {
        padding: 2px;
      }
    }
  }

  &__additions {
    margin: 0 auto 46px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.01em;
    text-align: center;
    color: #7c7c7c;

    @include desktopsm {
      margin: 0 auto 40px;
      font-size: 18px;
    }

    @include mobile {
      margin: 0 auto 32px;
      font-size: 16px;
    }
  }

  &__back {
    display: flex;
    align-items: center;
    justify-content: center;

    &-link {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 13px;
      width: fit-content;
      text-decoration: none;

      &-text {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 26px;
        line-height: 130%;
        color: #355ddb;

        @include desktopsm {
          font-size: 22px;
        }
      }

      &-icon {
        display: block;
        max-width: 100%;
        height: auto;
      }
    }
  }
}
