.vidy-variant-2__heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 0 30px;
}
@media (max-width: 1600px) {
  .vidy-variant-2__heading {
    margin: 0 0 26px;
  }
}
@media (max-width: 1300px) {
  .vidy-variant-2__heading {
    margin: 0 0 24px;
  }
}
@media (max-width: 992px) {
  .vidy-variant-2__heading {
    margin: 0 0 22px;
  }
}
@media (max-width: 576px) {
  .vidy-variant-2__heading {
    margin: 0 0 20px;
  }
}
.vidy-variant-2__heading .btn_green {
  flex: 0 0 auto;
  margin: 0;
  color: var(--color-siniy, #355ddb);
  border-color: var(--color-siniy, #355ddb);
  background-color: var(--color-belyy, #fcfcfc);
  transform: translateY(9px);
  transform: translateY(0px);
}
@media (max-width: 1300px) {
  .vidy-variant-2__heading .btn_green {
    transform: translateY(4px);
  }
}
@media (max-width: 768px) {
  .vidy-variant-2__heading .btn_green {
    display: none;
  }
}
.vidy-variant-2__heading .btn_green:hover {
  color: var(--color-belyy, #fcfcfc);
  background-color: var(--color-siniy, #355ddb);
}
.vidy-variant-2__title {
  margin-bottom: 0;
}
.vidy-variant-2__title.h1:not(:last-child) {
  margin-bottom: 0;
}
.vidy-variant-2__description {
  max-width: 992px;
  margin: 0 0 60px;
  font-weight: 400;
  font-size: 22px;
  line-height: 130%;
  color: #0e0e0e;
}
@media (max-width: 1600px) {
  .vidy-variant-2__description {
    max-width: 903px;
    margin: 0 0 54px;
    font-size: 20px;
  }
}
@media (max-width: 1300px) {
  .vidy-variant-2__description {
    max-width: 696px;
    margin: 0 0 48px;
    font-size: 18px;
  }
}
@media (max-width: 992px) {
  .vidy-variant-2__description {
    max-width: 519px;
    margin: 0 0 44px;
    font-size: 16px;
  }
}
@media (max-width: 576px) {
  .vidy-variant-2__description {
    max-width: none;
    margin: 0 0 34px;
  }
}
.vidy-variant-2__description b {
  font-weight: 700;
}
.vidy-variant-2__content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 40px;
  max-width: 100%;
  overflow: hidden;
}
@media (max-width: 1600px) {
  .vidy-variant-2__content {
    gap: 34px;
  }
}
@media (max-width: 1300px) {
  .vidy-variant-2__content {
    gap: 21px;
  }
}
@media (max-width: 992px) {
  .vidy-variant-2__content {
    gap: 20px;
  }
}
@media (max-width: 768px) {
  .vidy-variant-2__content {
    flex-direction: row;
    max-height: none !important;
  }
}
.vidy-variant-2__card {
  display: flex;
  align-items: center;
  gap: 29px;
  max-width: calc(50% - 20px);
  padding: 19px;
  box-sizing: border-box;
  border-radius: 3px;
  background-color: #f4fafc;
}
@media (max-width: 1600px) {
  .vidy-variant-2__card {
    max-width: calc(50% - 17px);
    width: 100%;
    padding: 16px;
  }
}
@media (max-width: 1300px) {
  .vidy-variant-2__card {
    max-width: calc(50% - 10.5px);
    padding: 22px 16px;
  }
}
@media (max-width: 992px) {
  .vidy-variant-2__card {
    max-width: calc(50% - 10px);
    padding: 29px 17px;
  }
}
@media (max-width: 768px) {
  .vidy-variant-2__card {
    max-width: none;
    flex: 0 0 100%;
  }
}
@media (max-width: 576px) {
  .vidy-variant-2__card {
    padding: 29px 15px;
  }
}
.vidy-variant-2__card:nth-child(odd) {
  order: 0;
}
@media (max-width: 768px) {
  .vidy-variant-2__card:nth-child(odd) {
    order: 0;
  }
}
.vidy-variant-2__card:nth-child(even) {
  order: 1;
}
@media (max-width: 768px) {
  .vidy-variant-2__card:nth-child(even) {
    order: 0;
  }
}
.vidy-variant-2__card-figure {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  margin: 0;
  width: 214px;
}
@media (max-width: 1600px) {
  .vidy-variant-2__card-figure {
    width: 182px;
  }
}
@media (max-width: 1300px) {
  .vidy-variant-2__card-figure {
    width: 137px;
  }
}
@media (max-width: 992px) {
  .vidy-variant-2__card-figure {
    width: 114px;
  }
}
.vidy-variant-2__card-figure-image {
  display: block;
  max-width: 100%;
  height: auto;
}
.vidy-variant-2__card-info {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
@media (max-width: 1600px) {
  .vidy-variant-2__card-info {
    gap: 12px;
  }
}
@media (max-width: 992px) {
  .vidy-variant-2__card-info {
    gap: 10px;
  }
}
.vidy-variant-2__card-info-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: #0e0e0e;
}
@media (max-width: 1300px) {
  .vidy-variant-2__card-info-title {
    font-size: 17px;
  }
}
.vidy-variant-2__card-info-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #0e0e0e;
}
@media (max-width: 1300px) {
  .vidy-variant-2__card-info-text {
    font-size: 14px;
  }
}