.harakteristiky-v-1__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 32px;
  margin-bottom: 60px;
}
@media (max-width: 1600px) {
  .harakteristiky-v-1__heading {
    margin-bottom: 58px;
  }
}
@media (max-width: 1300px) {
  .harakteristiky-v-1__heading {
    margin-bottom: 45px;
  }
}
@media (max-width: 992px) {
  .harakteristiky-v-1__heading {
    margin-bottom: 48px;
  }
}
@media (max-width: 576px) {
  .harakteristiky-v-1__heading {
    margin-bottom: 34px;
  }
}
.harakteristiky-v-1__title {
  margin-bottom: 0px !important;
}
.harakteristiky-v-1__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  gap: 32px;
}
@media (max-width: 1600px) {
  .harakteristiky-v-1__controls {
    gap: 27px;
  }
}
@media (max-width: 1300px) {
  .harakteristiky-v-1__controls {
    gap: 21px;
  }
}
@media (max-width: 576px) {
  .harakteristiky-v-1__controls {
    display: none;
  }
}
.harakteristiky-v-1__controls-prev, .harakteristiky-v-1__controls-next {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  aspect-ratio: 1/1;
  border: 2px solid #8e8e93;
  border-radius: 3px;
  background-color: rgba(254, 254, 254, 0.8);
}
@media (max-width: 1600px) {
  .harakteristiky-v-1__controls-prev, .harakteristiky-v-1__controls-next {
    width: 34px;
  }
}
@media (max-width: 1300px) {
  .harakteristiky-v-1__controls-prev, .harakteristiky-v-1__controls-next {
    width: 27px;
  }
}
.harakteristiky-v-1__controls-prev::before, .harakteristiky-v-1__controls-next::before {
  content: "";
  display: block;
  width: 16px;
  aspect-ratio: 1/1;
  background: url(../images/harakteristiky-v-1/prev.svg) center/cover no-repeat;
}
@media (max-width: 1600px) {
  .harakteristiky-v-1__controls-prev::before, .harakteristiky-v-1__controls-next::before {
    width: 14px;
  }
}
@media (max-width: 1300px) {
  .harakteristiky-v-1__controls-prev::before, .harakteristiky-v-1__controls-next::before {
    width: 10px;
  }
}
.harakteristiky-v-1__controls-next::before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.harakteristiky-v-1__slider {
  display: block;
  overflow: hidden;
}
.harakteristiky-v-1__slider > .swiper > .swiper-wrapper > .swiper-slide {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
}
.harakteristiky-v-1__slide {
  border-radius: 3px;
  background-color: #f5f5f5;
}
.harakteristiky-v-1__slide-sliders {
  display: block;
}
.harakteristiky-v-1__slide-main {
  position: relative;
  margin: 0 0 12px;
}
@media (max-width: 1600px) {
  .harakteristiky-v-1__slide-main {
    margin-bottom: 10px;
  }
}
@media (max-width: 1300px) {
  .harakteristiky-v-1__slide-main {
    margin-bottom: 9px;
  }
}
.harakteristiky-v-1__slide-main .swiper-slide {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
}
.harakteristiky-v-1__slide-main .swiper-slide > img {
  display: block;
  max-width: 100%;
  width: 100%;
  aspect-ratio: 49/32;
  -o-object-fit: cover;
     object-fit: cover;
}
.harakteristiky-v-1__slide-main-controls-prev, .harakteristiky-v-1__slide-main-controls-next {
  position: absolute;
  top: 50%;
  z-index: 20;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #8e8e93;
  border-radius: 3px;
  background-color: rgba(254, 254, 254, 0.8);
  transform: translate3d(0, -50%, 0);
  -webkit-transform: translate3d(0, -50%, 0);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  opacity: 0.5;
  cursor: pointer;
}
@media (max-width: 1600px) {
  .harakteristiky-v-1__slide-main-controls-prev, .harakteristiky-v-1__slide-main-controls-next {
    width: 34px;
    height: 34px;
    border: 1px solid #8e8e93;
  }
}
@media (max-width: 1300px) {
  .harakteristiky-v-1__slide-main-controls-prev, .harakteristiky-v-1__slide-main-controls-next {
    width: 28px;
    height: 28px;
  }
}
@media (max-width: 576px) {
  .harakteristiky-v-1__slide-main-controls-prev, .harakteristiky-v-1__slide-main-controls-next {
    width: 26px;
    height: 26px;
  }
}
.harakteristiky-v-1__slide-main-controls-prev::before, .harakteristiky-v-1__slide-main-controls-next::before {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  right: -6px;
  bottom: -6px;
  z-index: 5;
}
.harakteristiky-v-1__slide-main-controls-prev::after, .harakteristiky-v-1__slide-main-controls-next::after {
  content: "";
  display: block;
  width: 16px;
  aspect-ratio: 1/1;
  background: url(../images/harakteristiky-v-1/prev.svg) center/cover no-repeat;
}
@media (max-width: 1600px) {
  .harakteristiky-v-1__slide-main-controls-prev::after, .harakteristiky-v-1__slide-main-controls-next::after {
    width: 14px;
  }
}
@media (max-width: 1300px) {
  .harakteristiky-v-1__slide-main-controls-prev::after, .harakteristiky-v-1__slide-main-controls-next::after {
    width: 12px;
  }
}
.harakteristiky-v-1__slide-main-controls-prev {
  left: 14px;
}
.harakteristiky-v-1__slide-main-controls-next {
  right: 14px;
}
.harakteristiky-v-1__slide-main-controls-next::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.harakteristiky-v-1__slide-thumbs .swiper-slide {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  opacity: 0.5;
}
.harakteristiky-v-1__slide-thumbs .swiper-slide > img {
  display: block;
  max-width: 100%;
  width: 100%;
  aspect-ratio: 49/32;
  -o-object-fit: cover;
     object-fit: cover;
}
.harakteristiky-v-1__slide-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}
.harakteristiky-v-1__slide-content {
  padding: 50px 33px 89px;
}
@media (max-width: 1600px) {
  .harakteristiky-v-1__slide-content {
    padding: 42px 28px 78px;
  }
}
@media (max-width: 1300px) {
  .harakteristiky-v-1__slide-content {
    padding: 34px 24px 64px;
  }
}
@media (max-width: 576px) {
  .harakteristiky-v-1__slide-content {
    padding: 32px 20px 47px;
  }
}
.harakteristiky-v-1__slide-title {
  margin: 0 0 21px;
  font-weight: 500;
  font-size: 32px;
  color: #1a1a1a;
}
@media (max-width: 1600px) {
  .harakteristiky-v-1__slide-title {
    margin-bottom: 18px;
    font-size: 27px;
  }
}
@media (max-width: 1300px) {
  .harakteristiky-v-1__slide-title {
    margin-bottom: 14px;
    font-size: 22px;
  }
}
@media (max-width: 992px) {
  .harakteristiky-v-1__slide-title {
    margin-bottom: 16px;
    font-size: 23px;
  }
}
@media (max-width: 576px) {
  .harakteristiky-v-1__slide-title {
    margin-bottom: 13px;
    font-size: 19px;
  }
}
.harakteristiky-v-1__slide-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 21px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (max-width: 1600px) {
  .harakteristiky-v-1__slide-info {
    gap: 18px;
  }
}
@media (max-width: 1300px) {
  .harakteristiky-v-1__slide-info {
    gap: 14px;
  }
}
@media (max-width: 992px) {
  .harakteristiky-v-1__slide-info {
    gap: 16px;
  }
}
@media (max-width: 576px) {
  .harakteristiky-v-1__slide-info {
    gap: 13px;
  }
}
.harakteristiky-v-1__slide-info-item {
  font-size: 20px;
  line-height: 130%;
}
@media (max-width: 1600px) {
  .harakteristiky-v-1__slide-info-item {
    font-size: 18px;
  }
}
@media (max-width: 1300px) {
  .harakteristiky-v-1__slide-info-item {
    font-size: 14px;
  }
}
@media (max-width: 992px) {
  .harakteristiky-v-1__slide-info-item {
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .harakteristiky-v-1__slide-info-item {
    font-size: 14px;
  }
}
.harakteristiky-v-1__slide-info-item-name {
  font-weight: 500;
  color: #7d7d7d;
}
.harakteristiky-v-1__slide-info-item-value {
  font-weight: 500;
  color: #000000;
}